@import "./styles/variables.css";
@import "./styles/fonts.css";

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-paper);
    color: var(--color-ink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}